/*Chatbot*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    padding: 10em 10em;
    background: url(/images/BG.gif);
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .glass {
    width: 500px;
    height: 600px;
    background-color: rgb(180, 215, 255);
    padding: 40px;
    color: #000;
    border-radius: 9px;
    backdrop-filter: blur(50px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    line-height: 1.5;
    transform: translatey(-5%);
    transition: transform 0.5s;
    }
    .glass-1 {
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    color: rgb(122, 82, 82);
    border-radius: 9px;
    backdrop-filter: blur(50px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    line-height: 1.5;
    transform: translatey(-5%);
    transition: transform 0.5s;
    font-size: 1.7rem;
    }
    .glass h1 {
    font-size: 1.5rem;
    text-align: center;
    }
    .glass h2 {
    font-size: 1rem;
    margin-top: 20px;
    }
    .input {
    width: 100%;
    height: 70px;
    overflow: hidden;
    margin-top: 40px;
    }
    .input input {
    width: 100%;
    height: 70px;
    border: none;
    padding-left: 30px;
    padding-top: 0;
    outline: none;
    font-size: 1.5rem;
    border-radius: 20px;
    }
    .glass p {
    font-size: 1.6rem;
    margin-top: 30px;
    }

    /*button*/

.btn-default {
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgb(6, 224, 6);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #eee;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 0);
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: rgb(255, 71, 230);
}

.btn-default .badge {
    color: #fff;
    background-color: rgb(0, 4, 230);
}

.btn-primary {
    border-color: rgb(255, 255, 255);
    color: #fff;
    background-color: rgb(65, 54, 37);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #32cd32;
    color: rgb(255, 255, 255);
    background-color: #32cd32 (50, 60, 205);
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: rgb(50, 205, 58);
    background-color: rgb(50, 205, 71);
}

.btn-primary .badge {
    color: rgb(81, 205, 50);
    background-color: rgb(226, 0, 0);
}


.btn {
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-lg {
    padding: 15px 30px;
}
